html, body {
  font-family: monospace;
  margin: 0;
  background-color: #181a1b;
}

#user {
  color: #2ec27e;
  margin-left: 7px;
  font-size: 16px;
}

#hostname {
  color: #ffffff;
}

#arrow {
  color: #ffffff
}

#boymoder {
  position: fixed;
  /* left: 75.5%; */
  right: 6.5%;
  max-width: 40%;
  bottom: 0;
  margin: 0;
}

#powered_by {
  position: fixed;
  bottom: 0px;
  margin-left: 7px;
  margin-bottom: 5px;
  display: flex;
}

#powered_by_img {
  position: sticky;
  width: 24px;
  height: auto;
  float: left;
}

#powered_by_text {
  font-family: 'Print Clearly', sans-serif;
  font-size: 20px;
  float: left;
  margin: 0;
  margin-right: 5px;
  color: #ffffff;
}

#about_me {
  position: absolute;
  white-space: pre-wrap;
  margin: 0;
  margin-left: 8px;
  margin-top: -10px;
  font-size: 16px;
  color: #ffffff;
}

pre {
  display:inline-block;
  margin:0;
  border: 0px solid;
  color: rgb(60, 54, 54);
}