html, body {
  font-family: monospace;
  /* background-color: cyan !important; */
  margin: 0;
  background-color: #181a1b;
}

#user {
  color: #2ec27e;
  margin-left: 7px;
}

#hostname {
  color: #ffffff;
}

#arrow {
  color: #ffffff
}

#boymoder {
  position: fixed;
  left: 75.5%;
  width: 17%;
  bottom: 0;
  margin: 0;
}

#powered_by {
  position: fixed;
  bottom: 0px;
  margin-left: 7px;
  margin-bottom: 5px;
  display: flex;
}

#powered_by_img {
  position: sticky;
  width: 20px;
  height: auto;
  float: left;
}

#powered_by_text {
  font-family: 'Print Clearly', sans-serif;
  font-size: 16px;
  float: left;
  margin: 0;
  margin-right: 5px;
  color: #ffffff;
}

#about_me {
  position: absolute;
  white-space: pre-wrap;
  margin: 0;
  margin-left: 8px;
  margin-top: -10px;
  font-size: 14px;
  color: #ffffff;
}

pre {
  display:inline-block;
  margin:0;
  border: 0px solid;
  color: rgb(60, 54, 54);
}